# build requirements
setuptools

# core requirements
astropy>=1.0
decorator
dqsegdb
gwdetchar>=1.0.0
gwpy>=1.0.0
gwsumm>=1.0.1
gwtrigfind
lscsoft-glue>=1.60.0
MarkupPy
matplotlib>=1.5
numpy>=1.7
scipy

# testing extras
pytest>=2.8,<3.7
pytest-cov
coverage
flake8
